html {
  scroll-behavior: smooth;
}

// SECTION A PROPOS

.about {
  display: flex;
  justify-content: space-around;

  h3 {
    font-size: 24px;
  }
}

.description {
  width: 50%;
  font-size: 14px;

  p {
    width: 85%;
  }
}

.skills {
  width: 50%;
  font-size: 14px;
}

// SECTION SERVICES

.services {
  display: flex;
  justify-content: space-around;
}

.one-service {
  width: 30%;
  h6 {
    font-size: 20px;
    color: white;
  }
  p {
    color: white;
    font-size: 14px;
  }
}

.discover {
  width: 100%;
}

.discover-btn {
  border: 0.3px white solid;
  padding: 5px;
  color: white;
  width: 50%;
  margin: 0 auto;


  p {
    color: white;
    margin: 0;
  }
}

.discover-text {
    color: white;
}

.text {
  width: 100%;
  height: 100%;
}

.cards .discover-btn {
  // display: none;
}

.cards .discover-text {
  // display: none;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;

  a {
    text-decoration: none;
  }

  a:hover .work-card-linear {
    opacity: 1;
    transition: opacity 0.7s ease-out;
  }

  a:hover .discover-btn {
    display: block;
    transition: display 0.3s ease-out;
  }

  a:hover .discover-text {
    display: block;
    transition: display 0.3s ease-out;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.contact {
  display: flex;
  justify-content: space-between;
}

.info {
  width: 50%;
  border-right: solid 1px grey;
}

.contact-form {
  width: 40%;
}

.btn-submit {
  display: inline-block;
  font-weight: 400;
  color: white;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: black;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.footer {
  height: 10vh;
  width: 100vw;
  background-color: black;
  margin-top: 40px;
}

.footer-text {
  a {
    margin-top: 40px;
  }
}

@media (min-width: 600px) {
  .about {
    display: block;
  }

  .services {
    display: block;
  }

  .contact {
    display: block;
  }
}

