.banner {
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-size:cover;
}

.mid-banner {
  width: 100vw;
  height: 50vh;
  margin: 80px 0;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 30px;
}
