.banner {
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-size:cover;

  h1 {
    position: absolute;
    left: 200px;
    bottom: 60vh;
    width: 30%;
    color: white;
    font-size: 36px;
  }

  p {
    position: absolute;
    left: 200px;
    bottom: 45vh;
    color: white;
    font-size: 24px;
    width: 30%;
  }
}

.mid-banner {
  width: 100vw;
  height: 50vh;
  margin: 80px 0;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 30px;
}

@media (max-width: 600px) {
  .banner {
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    background-size:cover;
    background-position: 584px 58px;

    h1 {
      position: absolute;
      left: 20px;
      bottom: 14vh;
      color: white;
      font-size: 14px;
      width: 100%;
    }

      p {
        position: absolute;
        left: 20px;
        bottom: 7vh;
        color: white;
        font-size: 10px;
        width: 50%;
      }
    }
}
