.banner {
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-size:cover;

  h1 {
    position: absolute;
    left: 200px;
    bottom: 60vh;
    width: 30%;
    color: white;
    font-size: 36px;
  }

  p {
    position: absolute;
    left: 200px;
    bottom: 45vh;
    color: white;
    font-size: 24px;
    width: 30%;
  }
}

.mid-banner {
  width: 100vw;
  height: 50vh;
  margin: 80px 0;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 30px;
}

@media (max-width: 1030px) {
  .banner {
    width: 100vw;
    height: 100vh;
    background-attachment: unset;
    background-size:cover;
    background-position: 1530px 60px;

    h1 {
      position: absolute;
      left: 20px;
      bottom: 20vh;
      color: white;
      font-size: 38px;
      width: 100%;
    }

      p {
        position: absolute;
        left: 20px;
        bottom: 10vh;
        color: white;
        font-size: 25px;
        width: 50%;
      }
    }

    .mid-banner {
      width: 100vw;
      height: 40vh;
      margin: 80px 0;
      background-size: cover;
      background-attachment: unset;
      padding-top: 30px;
      background-position: 1000px 0px;
    }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .banner {
    width: 100vw;
    height: 100vh;
    background-attachment: unset;
    background-size:cover;
    background-position: 1025px 60px;

    h1 {
      position: absolute;
      left: 20px;
      bottom: 20vh;
      color: white;
      font-size: 38px;
      width: 100%;
    }

      p {
        position: absolute;
        left: 20px;
        bottom: 7vh;
        color: white;
        font-size: 25px;
        width: 50%;
      }
    }

    .mid-banner {
      width: 100vw;
      height: 60vh;
      margin: 80px 0;
      background-size: cover;
      background-attachment: unset;
      padding-top: 30px;
      background-position: 0px 0px;
    }

}

@media (max-width: 768px) {
  .banner {
    width: 100vw;
    height: 100vh;
    background-attachment: unset;
    background-size:cover;
    background-position: 1150px 60px;

    h1 {
      position: absolute;
      left: 20px;
      bottom: 20vh;
      color: white;
      font-size: 38px;
      width: 100%;
    }

      p {
        position: absolute;
        left: 20px;
        bottom: 10vh;
        color: white;
        font-size: 25px;
        width: 50%;
      }
    }

    .mid-banner {
      width: 100vw;
      height: 50vh;
      margin: 80px 0;
      background-size: cover;
      background-attachment: unset;
      padding-top: 30px;
      background-position: 755px 0px;
    }
}

@media (max-width: 420px) {
  .banner {
    width: 100vw;
    height: 100vh;
    background-attachment: unset;
    background-size:cover;
    background-position: 800px 60px;

    h1 {
      position: absolute;
      left: 20px;
      bottom: 14vh;
      color: white;
      font-size: 14px;
      width: 100%;
    }

      p {
        position: absolute;
        left: 20px;
        bottom: 7vh;
        color: white;
        font-size: 10px;
        width: 50%;
      }
    }

    .mid-banner {
      width: 100vw;
      height: 100vh;
      margin: 80px 0;
      background-size: cover;
      background-attachment: unset;
      padding-top: 30px;
      background-position: 670px 0px;
    }
}

@media (max-width: 380px) {
  .banner {
    width: 100vw;
    height: 100vh;
    background-attachment: unset;
    background-size:cover;
    background-position: 685px 60px;

    h1 {
      position: absolute;
      left: 20px;
      bottom: 14vh;
      color: white;
      font-size: 14px;
      width: 100%;
    }

      p {
        position: absolute;
        left: 20px;
        bottom: 7vh;
        color: white;
        font-size: 10px;
        width: 50%;
      }
    }

    .mid-banner {
      width: 100vw;
      height: 125vh;
      margin: 80px 0;
      background-size: cover;
      background-attachment: unset;
      padding-top: 30px;
      background-position: 800px 60px;
    }
}

@media (max-width: 320px) {
  .banner {
    width: 100vw;
    height: 100vh;
    background-attachment: unset;
    background-size:cover;
    background-position: 511px 60px;

    h1 {
      position: absolute;
      left: 20px;
      bottom: 14vh;
      color: white;
      font-size: 14px;
      width: 100%;
    }

      p {
        position: absolute;
        left: 20px;
        bottom: 7vh;
        color: white;
        font-size: 10px;
        width: 50%;
      }
    }

    .mid-banner {
      width: 100vw;
      height: 125vh;
      margin: 80px 0;
      background-size: cover;
      background-attachment: unset;
      padding-top: 30px;
      background-position: 584px 0px;
    }
}
