.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  transition: background 1s ease-out;
  position: fixed;
  top: 0;
  z-index: 2000;
  width: 100%;
  a {
    color: white !important;
  }
}

.nav-colored {
  background-color: black;
  transition: background-color 1s ease-out
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
  // background-color: rgba(255, 255, 255, 0.9);
  border-radius: 80%;
}


@media (max-width: 600px) {
  .navbar-lewagon {
    justify-content: space-between;
    transition: background 1s ease-out;
    position: fixed;
    top: 0;
    z-index: 2000;
    width: 95%;
    a {
      color: white !important;
    }
  }
}
